.navigation {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  // background-color: white;
  

  .logo-container {
    height: 100%;
    width: 100px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 50px;
  }
  .logo {
    height: 50px;
    width: 100px;
  }

  .nav-links-container-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



    .nav-link-left {
      padding: 0px 15px 0px 15px;
      cursor: pointer;
      font-size: 20px;
      color: white;
      
      &:hover{
        background-color: white;
        color: black;
      }

    }
  }


  .nav-links-container-right {
    width: 400px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  

    .nav-link-right-button {
      align-items: center;
      margin: 0px 10px 0px 10px;
      appearance: none;
      background-color: white;
      color: black;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 15px;
      display: inline-flex;
      fill: currentcolor;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 120px;
      will-change: transform,opacity;
      z-index: 0;
    }
    
    .nav-link-right-button:hover {
      background-color: black;
      color: white;
    }
    
    .nav-link-right-button:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }



    .nav-link-right-underline {
      padding: 0px 15px 0px 15px;
      font-size: 20px;
      display: inline-block;
      position: relative;
      color: white;
    }
    
    .nav-link-right-underline:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .nav-link-right-underline:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}












