.demo-container{
    height: 100vh;
    width: 100%;   
    
}
.blur{
    backdrop-filter: blur(10px);

}


.task{
    height: 86%;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    // padding-top: 100px;  
    -webkit-animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 2s;
    border-radius: 25px;
    background-color: black;
    z-index: 1;
    position: fixed;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.notask{
    width: 100%;
    height: 99%;
    padding-top: 100px;

}